@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

#effect1 {
  width: 100%;
  padding: 180px 0 150px;
}

#effect1 .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

#effect1 .inner h1 {
  font: bold 24px/1 'arial';
  color: #555;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

#effect1 .inner .wrap {
  width: 100%;
}

#effect1 .inner .wrap::after {
  content: '';
  display: block;
  clear: both;
}

#effect1 .inner .wrap article {
  width: 280px; height: 200px;
  float: left;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}

#effect1 .inner .wrap article:last-of-type {
  margin-right: 0;
}

#effect1 .inner .wrap article img {
  width: 100%; height: 100%;
  object-fit: cover;
  transition: 1s;
}

#effect1 .inner .wrap article:hover img {
  transform: scale(1.2);
}

#effect1 .inner .wrap article p {
  position: absolute;
  font: 20px/1 'arial';
  color: #fff;
  z-index: 3;
  transition: 0.5s;
  opacity: 0;
}

#effect1 .inner .wrap article:hover p {
  opacity: 1;
}

#effect1 .inner .wrap article::after {
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0.6);
  width: 100%; height: 100%;
  position: absolute;
  opacity: 0.8;
  transition: 0.5s;
}

/* 각 계절별 변화 */

/* 봄 */
#effect1 .inner .wrap article:nth-of-type(1) p {
  top: 45%; left: -5%;
  transform: rotate(90deg);
}

#effect1 .inner .wrap article:nth-of-type(1)::after {
  top: 0; left: 280px;
}

#effect1 .inner .wrap article:nth-of-type(1):hover::after {
  top: 0; left: -230px; 
  background: rgba(82, 140, 73, 0.8);
}

/* 여름 */

#effect1 .inner .wrap article:nth-of-type(2) p {
  top: 7%; left: 35%;
}

#effect1 .inner .wrap article:nth-of-type(2)::after {
  bottom: 280px; left: 0;
}

#effect1 .inner .wrap article:nth-of-type(2):hover::after {
  bottom: 150px; left: 0;
  background: rgba(98, 180, 223, 0.8);
}

/* 가을 왼 오 */
#effect1 .inner .wrap article:nth-of-type(3) p {
  top: 45%; right: -5%;
  transform: rotate(-90deg);
}

#effect1 .inner .wrap article:nth-of-type(3)::after {
  /* top: 0; right: 280px; */
  bottom: 0; left: -280px;
}

#effect1 .inner .wrap article:nth-of-type(3):hover::after {
  /* top: 0; right: -230px;  */
  bottom: 0; left: 230px;
  background: rgba(232, 110, 110, 0.8);
}

/* 겨울 위 아래 */
#effect1 .inner .wrap article:nth-of-type(4) p {
  bottom: 7%; left: 35%;
}

#effect1 .inner .wrap article:nth-of-type(4)::after {
  top: 280px; left: 0;
}

#effect1 .inner .wrap article:nth-of-type(4):hover::after {
  top: 150px; left: 0;
  background: rgba(223, 178, 112, 0.8);
}